@font-face {
    font-family: 'Montagu Slab';
    src: url("MontaguSlab-VariableFont_opsz\,wght.ttf") format('truetype');
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 100px;
    position: fixed;
    z-index: 10;
}

.nav_logo{
    height: 75px;
    background-size: cover;
    transition: all 0.5s;
}

.nav_logo:hover{
    filter: drop-shadow(0px 0px 4px white);
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: black; 
    background: white;
}

.nav-bar ul li a.active{
    color: black;
    background: white;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer; 
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(0, 0, 0, 0.55);
        transition: 0.2s;
        overflow: hidden;
    }  
    .nav-bar.active{
        width: 100% !important;
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}

.jumbotron{
    position: static;
    background: url("https://drive.google.com/uc?export=view&id=1ZAUVK3lTb-kzjI589J-YssDt0KYJ6Jdb");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron .btn{
    position: absolute;
    top: 80%;
    
    align-items: center;
    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding: 1% 1%;
    line-height: 32px;
    text-align: center;
    background: #FFCF0D;
    border-radius: 45px;
}

.jumbotron .btn a{
    color: black;
    text-decoration: none;
}

.jumbotron .btn:hover{
    background: #FFE88C;
}

.modal{
    align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.4s;
	visibility: hidden;
	opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content{
	position: absolute;
	background-image:url("https://drive.google.com/uc?export=view&id=1gTA0DEcegrWVnEJOtmrgsm59Uxxefvka");
    background-size: cover;
	width: 50vw;
    height: 60%;
	/* padding: 1em 2em; */
	border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal:target {
	visibility: visible;
	opacity: 1;
}
.box-close {
	position: absolute;
    background-image: url("https://drive.google.com/uc?export=view&id=11IV8s1aJRWukmEMlGMfN1d-SMg6bCLa3");
    background-size: cover;
    width: 1.7vw;
    height: 1.7vw;
	top: 15px;
	right: 15px;
    transition: 0.2s ease-in-out;
}
.box-close:hover{
	position: absolute;
    background-image: url("https://drive.google.com/uc?export=view&id=1V14U2OKx5QZcdq7dddx-dBzea66OYVIf");
    background-size: cover;
    width: 1.7vw;
    height: 1.7vw;
	top: 15px;
	right: 15px;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	width: 100%;
}

.logo1{
	width: 150px;
	transition: all 0.5s ease-in;
}

.logo1:hover{
	opacity: 0.7;
}

.textt{
    font-family: 'Maitree';
    font-size: 50pt;
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
    -webkit-text-stroke: 1px black; 
    bottom : 0;
}

.popupIn{
    background-color: rgba(255, 255, 255, 0.38);;
    width: 45vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------News------------------------------------------------------------------ */
.news{
    background-image: url("https://drive.google.com/uc?export=view&id=1wwDvsdf-vTFlFuwZDO3YLatpMvV3A5yD");
    background-position: center;
    background-size: cover;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

.news > .borderTitleNews {
    background-image: url("https://drive.google.com/uc?export=view&id=18yBxgFGelPEkiSzsRyiT8hawRlBQkaDS");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1235px;
    height: 74px;
    margin-bottom: -90px;
}

.news > .titleNews {
    font-family: "Montagu Slab";
    font-size: 40pt;
    color: #ffffff;
}

.news > .bodyNews {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 500px;
    width: 80vw;
    border-radius: 30px;
    position: relative;
}

#news-img{
    background-size: contain;
    background-position: 80%;
    background-repeat: no-repeat;
    border-radius: 30px 0 0 30px;
    height: 500px;
    width: 50%;
}


.news > .bodyNews > .borderin {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news > .bodyNews > .borderin > .news_borderin {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    border-color: transparent;
    padding: 25px;
    width: 100%;
    text-align: center;
}

.news > .bodyNews > .borderin > .news_borderin:hover{
    cursor : pointer;
    background-color : #D9D9D9;
    transition: all 0.3s ease-in-out;
}


.maps{
    width: 100%;
    height: 1040px;
}
.mondstadt{
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://drive.google.com/uc?export=view&id=17_1NhzC9vRQTRR-Z0fRZnuXuQWyCsigP");
}
.liyue{
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://drive.google.com/uc?export=view&id=1uJUdW0ad0Rexfm1BrmuGf42gxbpxgyQP");
}
.liyue img{
    position: absolute;
}
.mondstadt img{
    position: absolute;
}
.sumeru img{
    position: absolute;
}
.inazuma img{
    position: absolute;
}
.inazuma{
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://drive.google.com/uc?export=view&id=1MI63VcASPg65dBbpx4T6SORBgzDTCCaO");
}
.sumeru{
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://drive.google.com/uc?export=view&id=1fy4-mXF7zs9RaVKeSINIwNnxRqNCtdYl");
}

.mapsText{
    font-family: 'Montagu Slab';
    font-size: 40pt;
    color : white;
    text-align: center;
    opacity: 0.5;
    /* position: absolute; */
    z-index: 10;
}
.logo{
    height: 100%;
    opacity: .3;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: red; */
}

.container{
    height: 260px;
    width: 100%;
    /* margin-right: 5%; */
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.char-pop-up1{
    position:absolute;
    /* z-index: 1000; */
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    /* border: solid white; */
    min-width: 250px;
    width: 24vw;
    background: url('https://drive.google.com/uc?export=view&id=1YQPOYqe2N_NfdJM9RxnndMFg3L27yLQq');
    background-repeat: no-repeat;
}
.mapsText, .logo, .char-pop-up1{
    transition: all .5s;
}
.maps .mondstadt:hover .mapsText{
    opacity: 1;
}
.maps .mondstadt:hover .logo{
    opacity: 0.5;
}
.maps .mondstadt:hover .char-pop-up1{
    height: 60vh;
    opacity: 1;
}

.char-pop-up2{
    position:absolute;
    /* z-index: 1000; */
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    /* border: solid white; */
    width: 24vw;
    min-width:297px;
    background: url('https://drive.google.com/uc?export=view&id=1D6eZfNEmeaUFCHYdcB1o9gGp2YGky7_U');
    background-repeat: no-repeat;
}
.mapsText, .logo, .char-pop-up2{
    transition: all .5s;
}
.maps .liyue:hover .mapsText{
    opacity: 1;
}
.maps .liyue:hover .logo{
    opacity: 0.5;
}
.maps .liyue:hover .char-pop-up2{
    height: 60vh;
    opacity: 1;
}

.char-pop-up3{
    position:absolute;
    /* z-index: 1000; */
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    /* border: solid white; */
    width: 24vw;
    min-width: 297px;
    background: url('https://drive.google.com/uc?export=view&id=1s1Y5KjhtN2JFQcb9pS3ijWZRMr4G6W-J');
    background-repeat: no-repeat;
}
.mapsText, .logo, .char-pop-up3{
    transition: all .5s;
}
.maps .inazuma:hover .mapsText{
    opacity: 1;
}
.maps .inazuma:hover .logo{
    opacity: 0.5;
}
.maps .inazuma:hover .char-pop-up3{
    height: 60vh;
    opacity: 1;
}

.char-pop-up4{
    position:absolute;
    /* z-index: 1000; */
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    /* border: solid white; */
    width: 24vw;
    min-width: 297px;
    background: url('https://drive.google.com/uc?export=view&id=1X73dn8emBcZwJqZUucykHmHLht334egz');
    background-repeat: no-repeat;
}
.mapsText, .logo, .char-pop-up4{
    transition: all .5s;
}
.maps .sumeru:hover .mapsText{
    opacity: 1;
}
.maps .sumeru:hover .logo{
    opacity: 0.5;
}
.maps .sumeru:hover .char-pop-up4{
    height: 60vh;
    opacity: 1;
}

footer {
	scroll-snap-align: start;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	width: 100vw;
	font-family: "cormorant";
	padding-top: 20px;
	color: #ffffff;
}

.logoFooter {
	height: 85px;
	background-size: cover;
	transition: all 0.5s;
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}

.logoFooter img{
    width: 170px;
    height: 90px;
    transition: all 0.5s ease-in-out;
}

.logoFooter:hover {
	filter: drop-shadow(0px 0px 4px white);
}

.socialFooter {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialFooter li {
	margin: 0 15px;
}

.socialFooter img{
    width: 80%;
}

.socialFooter a {
	text-decoration: none;
	color: #ffffff;
}

.footerBottom {
	background: #111;
	text-align: center;
	margin-top: 1%;
}

.footerBottom p {
	font-size: 14;
	word-spacing: 2px;
	text-transform: capitalize;
	margin: 0px 50px 0px 50px;
}

.termPrivacyFooter {
	display: flex;
	justify-content: center;
	list-style: none;
}

.termPrivacyFooter a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	color: white;
	text-decoration: none;
}

.logoFooter2 {
	height: 75px;
	background-size: cover;
	transition: all 0.5s;
	display: flex;
	justify-content: center;
    margin-top: 1%;
}

.logoFooter2 img{
    width: 40%;
}

@media only screen and (max-width: 1240px){
    .news > .borderTitleNews {
        width: 900px;
        height: 74px;
        margin-bottom: -90px;
    }

    .news > .titleNews {
        font-size: 30pt;
    }
}

@media only screen and (max-width: 1100px){
    .textt{
        font-size: 40pt;
    }
}

@media only screen and (max-width: 920px){
    .news > .borderTitleNews {
        background-image: none;
        width: 0;
        height: 0;
        margin-bottom: 0;
    }
    .news > .titleNews {
        font-size: 20pt;
    }

}

@media only screen and (max-width: 870px){
    .container{
        height: 260px;
        width: 100%;
    }

    .char-pop-up1{
        width: 10vw;
    }
}

@media only screen and (max-width: 810px){
    .textt{
        font-size: 30pt;
    }
}

@media only screen and (max-width: 715px){
    .news > .bodyNews > .borderin > .news_borderin {
        padding: 15px;
        font-size: 12px;
    }
}

@media only screen and (max-width:615px){
    .logo1{
        width: 100px;
        transition: all 0.5s ease-in;
    }
}

@media only screen and (max-width:600px){
    /* atur footer */
    .footer{
        width: 100%;
    }

    .logoFooter img{
        width: 150px;
        height: 80px;
    }
    
    .termPrivacyFooter a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
}

@media only screen and (max-width:650px){
    .jumbotron .btn{
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
    }
    .textt{
        font-size: 20pt;
    }
}

@media only screen and (max-width: 445px){
    .news > .bodyNews > .borderin {
        padding: 15px;
    }
    .news > .bodyNews > .borderin > .news_borderin {
        padding: 15px;
        font-size: 8px;
    }
}

@media only screen and (max-width:320px){

    /* atur footer */
    .footer{
        width: 100%;
    }

    .logoFooter{
        height: 50px;
    }

    .logoFooter img{
        width: 100px;
        height: 50px;
    }

     .socialFooter {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .socialFooter li {
	    margin: 0 15px;
    }

    .socialFooter img{
        width: 50%;
    }

    .termPrivacyFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }

    .termPrivacyFooter a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        color: white;
        text-decoration: none;
    }
}
